# ASSIGNMENT

### Each assignment will help to build us on areas we have learnt so far. 
### Try your best to do them devotedly learning all the concepts.


    Each question carrys 10marks

1.  Create a list called tree_list, starting at 20, ranging to 140, in increments of 4 (i.e. 20, 24,...,140).

In [10]:
tree_list = list(range(20, 141, 4))
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140]

In [10]:
tree_list = list(range(20, 141, 4))
tree_list.append (400)
tree_list

[20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 400]

3. Create a dictionary called `tree` with the following key-value pairs: <br> 
- `tree_type – Pepper-bark tree` 
- `age – 15`
- `family – Canellaceae`eae

In [14]:
tree =dict(tree_type ='pepper_bark_tree' , age = 15 , family = 'canellaceae')
print(tree)

{'tree_type': 'pepper_bark_tree', 'age': 15, 'family': 'canellaceae'}

4. Use conditional statements to categorise each student based on their risk status. The program should define a variable, `student_number` (representing the number of student in the class), and use it to print the correct grade of student based on the following categories: 
- `"Grade F student"` for less than `50` individuals. 
- `"Grade C student"` for `50` to `64` individuals. 
- `"Grade B student"` for `65` to `79` individuals. 
- `"Grade A student"` for more than `80` individuals.

Assume Akin had score of `77`. Assign this number to `student_number` and note what category they fall under.

In [16]:
student_grade = 77 
if  student_grade < 50:
    print('grade f student')
elif student_grade > 50 and student_grade <= 64:
    print ('grade c student')
elif student_grade > 65 and student_grade <= 79:
    print ('grade b student')
else:
    print('grade a student')

grade b student

5. Write a program to evaluate the use of renewable energy sources in a household. The program should define a variable `solar` that stores whether or not a household uses solar (`True` or `False` values only). If a household does not use solar, print `"Needs Improvement"`. Otherwise, print `"Eco-friendly"`.

Note: You must solve this exercise using `if not`.

In [9]:
solar = True
if not solar :
    print ('needs improvement')
else:
    print ('eco_friendly')

eco_friendly

6. Write a for loop to print each subject name

   subjects = ['Mathematics', 'English', 'Chemistry', 'Physics', 'Biology', 'Economics', '', 'Koala']

In [29]:
subjects = ['Mathematics', 'English', 'Chemistry', 'Physics', 'Biology', 'Economics', '', 'Koala']
for s in subjects:
    print(s)

Mathematics
English
Chemistry
Physics
Biology
Economics

Koala

7. animals = [Tiger, Cheetah, Antelop, Lion, Wolves, Panda, Leopard, Fox, Bear]


Create a loop that does nothing when 'Panda' is encountered, but prints other animals.

In [28]:
animals = ['tiger', 'cheetah', 'antelop', 'lion', 'wolves', 'panda', 'leopard', 'fox', 'bear']
if animals == 'panda':
   pass
else:
    print(animals)

['tiger', 'cheetah', 'antelop', 'lion', 'wolves', 'panda', 'leopard', 'fox', 'bear']

8. Use a for loop to count the number of species in the list

 endangered_marine_species = ['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']

In [1]:
endangered_marine_species =['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']
endangered_count = 0
for species in endangered_marine_species:
    number_of_endangered_marine_species = len(endangered_marine_species)
    print(f"Number of endangered marine species: {endangered_count}")

Number of endangered marine species: 0
Number of endangered marine species: 0
Number of endangered marine species: 0
Number of endangered marine species: 0
Number of endangered marine species: 0

9. Implement a `while` loop to simulate a conservation effort, stopping when a certain population target is reached.

In [10]:
current_savings = 150  # initial savings in dollars
target_savings = 500
years = 0
growth_rate = 1.07  # 7% annual growth due to interest

# Your task: Use a while loop to calculate how many years it takes to reach the target savings
while current_savings <= target_savings:
      current_savings *= 1.07 #yearly increamental rates
      years += 1
      print(f" years{years}: {current_savings}")
      print(f"Years to reach target savings: {years}")

 years1: 160.5
Years to reach target savings: 1
 years2: 171.735
Years to reach target savings: 2
 years3: 183.75645000000003
Years to reach target savings: 3
 years4: 196.61940150000004
Years to reach target savings: 4
 years5: 210.38275960500005
Years to reach target savings: 5
 years6: 225.10955277735007
Years to reach target savings: 6
 years7: 240.8672214717646
Years to reach target savings: 7
 years8: 257.72792697478815
Years to reach target savings: 8
 years9: 275.76888186302335
Years to reach target savings: 9
 years10: 295.072703593435
Years to reach target savings: 10
 years11: 315.72779284497545
Years to reach target savings: 11
 years12: 337.82873834412374
Years to reach target savings: 12
 years13: 361.4767500282124
Years to reach target savings: 13
 years14: 386.78012253018727
Years to reach target savings: 14
 years15: 413.8547311073004
Years to reach target savings: 15
 years16: 442.8245622848114
Years to reach target savings: 16
 years17: 473.8222816447482
Years to reach target savings: 17
 years18: 506.98984135988064
Years to reach target savings: 18

10. Write a function named dollars_to_euros that accepts a parameter of the revenue in dollars and returns the corresponding revenue in euros by multiplying the dollars by a conversion rate of 0.85.

Remember to include the docstrings for the function.

In [ ]:
def dollars_euro( revenue, conversion_rate ):
    """
    converts revenue from dollar to euro using converation rate 0.85

    parameters
    ----------
    revenue: accepts revenue parameter in dollar
    convertion rate : uses  0.85 to convert dollar to euro

    returns
    --------
    an integer that represents revenue in euro"""
    
    revenue_euro = (dollar_revenue * 0.85)
    return revenue_euro